body {
  margin: 0;
  padding: 0;
  background-color: #edf0f5;
  font-family: 'Nanum Gothic', sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

button {
  height: 34px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 8px 20px;
  font-size: 13px;
  color: #767a83;
}

input {
  height: 40px;
  padding: 4px 10px;
  font-size: 12px;
  border: 1px solid #dbdde2;
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}
